body {
    background: rgb(242, 242, 185);
    font-family: 'Noto Sans JP',sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logout {
    margin-right: 5%;
}

#btn-logout {
    background: transparent;
    width: 50px;
    height: 50px;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    transition: .4s;
}

#btn-logout:hover {
    color: #000;
    background: #5bc8ac;
    transition: .4s;
}

.searchBox {
    display: flex;
    height: 60px;
    width: 400px;
    margin: 0% 5% 5% auto;
}

.memoSearch {
    height: 50px;
    width: 300px;
    border-width: 1px;
    border-radius: 10px 0px 0px 10px;
}

.iconSearch {
    background-color: transparent;
    border-width: 1px; 
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    width: 50px;
    height: 54px;
    cursor: pointer;
    transition: .4s;
}

.iconSearch:hover {
    color: #000;
    background: #5bc8ac;
    transition: .4s;
}

#btn-reset {
    background: transparent;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 3%;
    height: 54px;
    width: 54px;
    cursor: pointer;
    transition: .4s;
}

#btn-reset:hover {
    color: #000;
    background: #5bc8ac;
    transition: .4s;
}

.title {
    width: 100%;
    margin: 2% 2%;
}

.title.show {
    overflow-wrap: break-word;
    border: 1px solid #00000062;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

.title textarea {
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

.content {
    width: 100%;
    margin: 2% 2%;
}

.content.show {
    border: 1px solid #00000062;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

.content textarea {
    resize: none;
    width: 100%;
    height: 400px;
    border-radius: 10px 10px 10px 10px;
}

.tags {
    width: 100%;
    margin: 2% 2%;
}

.tags.show {
    border: 1px solid #00000062;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

.tags textarea {
    resize: none;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 10px 10px;
}

.save-btn {
    margin: 2% 2%;
}

.save-btn button{
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
    border-width: 1px;
    cursor: pointer;
    transition: .4s;
}

.save-btn button:hover {
    color: #000;
    background: #5bc8ac;
    transition: .4s;
}

.edit-btn {
    margin: 2% 2%;
}

.edit-btn button {
    background-color: white;
    width: 200px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
    border-width: 1px;
    cursor: pointer;
    transition: .4s;
}

.edit-btn button:hover {
    color: #000;
    background: #5bc8ac;
    transition: .4s;
}


#popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#popup-inside {
    /* text-align: center; */
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    background: white;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    overflow-y: scroll;
}

.popup {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popupInside {
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 750px;
    background: white;
    margin: 5% auto 5% auto;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    position: relative;
}

#close {
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#memoList {
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    justify-content: center;
    /* flex-wrap: wrap; */
    padding-left: 10%;
    padding-right: 10%;
    grid-gap: 8px;
}

.memo{
    /* width: 250px; */
    max-width: 250px;
    height: 150px;
    border: 1px solid #000;
    border-radius: 10px 10px 10px 10px;
    background-color:white;
}

hr {
    border: 1px solid #00000062;
    position: relative;
    top: 100px;
    pointer-events: none;
}

.title-text {
    position: relative;
    top: 95px;
    text-align: center;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.create-btn {
    position: fixed;
    bottom: 10%;
    right: 15%;
}

.create-btn button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
}

.create-btn button:hover {
    color: #000;
    background: #5bc8ac;
    transition: .4s;
}

#btn-delete{
    position: absolute;
    top: 3px;
    right: 70px;
    cursor: pointer;
}

.material-symbols.add {
    font-size: 40px;
}

.code-btn {
    position: absolute;
    top: 130px;
    right: 50px;
}

.code-btn button {
    background-color: transparent;
    border-width: 1px;
    /* border-radius: 50%; */
    width: 30px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    transition: .4s;
}

.code-btn button:hover {
    color: #000;
    background: #5bc8ac;
    transition: .4s;
}

.prettyprint ol.linenums > li {
	list-style-type: decimal; 
}

.contentsList {
    width: 100%;
    height: 500px;
    padding: 5px 0px 5px 0px;
    overflow-y: scroll;
}

.contentsList::-webkit-scrollbar {
    display: none;
}

.contentsList p {
    margin: 0;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 16px;
    pointer-events: none;
}

.contentsList pre {
    margin: 0;
}

#edit {
    position: absolute;
    top: 3px;
    right: 40px;
    cursor: pointer;
}

